*{
   background-color: black;
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}
h1, p{
    color: white;
   text-align:center;
   margin-top:30px;
}
.box{
  margin-top:30px;
  display: block;
  align-items:center;
}
/*
body{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
html{
    display: table;
  height: 100%;
  width: 100%;
}
*/
 
