*{
    background-color: black;
   padding: 0px;
   margin:0px;
   box-sizing: border-box;
}
h1, p{
    color: white;
    margin-top: 20px;
    text-align: center;
}

.imagen{
    margin-bottom: 30px;
}
/*
body{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
html{
    display: table;
  height: 100%;
  width: 100%;
}
*/
 
